.App {
  text-align: center;
}

.main-bg {
  height: 300px;
  /* background-image: url('./img/bg.png'); */
  /* 이미지 넣는법 './'넣고 경로 넣기 */
  background-size: cover;
  background-position: center;
}

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 0.5s;
}

.fixed-right {
  position: fixed;
  right: 0;
  top: 50%;
  width: 200px; /* 원하는 너비로 설정 */
  height: 300px; /* 전체 높이로 설정 */
  background-color: #f0f0f0; /* 배경색 설정, 필요에 따라 변경 */
  border-left: 1px solid #ccc; /* 왼쪽 경계선 추가, 필요에 따라 변경 */
  padding: 10px; /* 내부 여백 설정, 필요에 따라 변경 */
  box-shadow: -2px 0 5px rgba(0,0,0,0.1); /* 그림자 추가, 필요에 따라 변경 */
  z-index: 1000;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}